.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-main {
  margin: 40px;
}

.App-examples {
  display: flex;
}
.App-example {
  flex: 1;
}
.Jsx-example {
  flex: 1;
  text-align: left;
}

table th,
table td {
  padding: 5px;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}
ul li {
  display: inline;
  margin: 0 15px;
}

/* button {
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  color: #069;
} */

.Todos-Container {
  text-align: left;
  max-width: 500px;
}
.Todo-Item-Container {
  margin-top: 15px;
  margin-bottom: 15px;
}
.Todo-Category {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 5px;
}
.Todo-Item {
  padding: 12px;
  border: 1px solid lightgray;
  border-radius: 18px;
  margin-bottom: 12px;
}
.Todo-Item input[type='checkbox'] {
  margin-right: 15px;
}
.Todo-Item span {
  word-wrap: break-word;
}
.Todo-Item span.completed {
  display: inline;
  text-decoration: line-through;
  font-style: italic;
  font-weight: bolder;
  color: dimgray;
}

.Todo-Item button {
  border: 1px solid lightgray;
  border-radius: 18px;
  margin-right: 5px;
  color: red;
  float: right;
  cursor: pointer;
}
.Todo-Item .Todo-Description {
  display: inline-grid;
}
.Todo-Item .Todo-Description .Todo-DateTo {
  font-style: italic;
  font-size: 12px;
  color: slategrey;
}

.Todo-Navbar input {
  max-width: 150px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 18px;
  margin-right: 5px;
}

.Todo-Navbar input:focus,
.Todo-Navbar input:active {
  outline: none;
  box-shadow: 0px 0px 2px black;
}

.Todo-Navbar button {
  max-width: 100px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 18px;
  cursor: pointer;
}
.Todo-Navbar button:focus,
.Todo-Navbar button:active {
  outline: none;
  box-shadow: 0px 0px 2px black;
}

/* Blog */
.Blog-Container {
  text-align: left;
  max-width: 1260px;
  margin: 40px;
}
.Blog-User,
.Blog-Post,
.Blog-Comment,
.Blog-Album,
.Blog-Photo {
  padding: 12px;
  border: 1px solid lightgray;
  border-radius: 18px;
  margin-bottom: 12px;
  cursor: pointer;
}
.Blog-User span,
.Blog-Post span,
.Blog-Album span {
  word-wrap: break-word;
  display: block;
}
.Blog-Comments,
.Blog-Photos {
  margin: 15px 15px 15px 40px;
  font-style: italic;
  font-size: 14px;
}
.Blog-Comment,
.Blog-Photo {
  cursor: default;
}
.Blog-Posts-Container,
.Blog-Albums-Container {
  flex: 1;
  margin: 40px;
}

.Blog-Comments input {
  width: 100%;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 18px;
}

.Blog-Comments input:focus,
.Blog-Comments input:active {
  outline: none;
  box-shadow: 0px 0px 2px black;
}
